:root {
  /* Wheel Picker Variables */
  --wdp-wheel-picker-selected-font-weight: 600;
  --wdp-wheel-picker-selected-font-size: 1.125rem;
  --wdp-wheel-picker-selected-line-height: 1.75rem;
  --wdp-wheel-picker-selected-color: #212121;
  
  --wdp-wheel-picker-unselected-color: #bdbdbd;
  --wdp-wheel-picker-unselected-font-size: 0.875rem;
  --wdp-wheel-picker-unselected-line-height: 1.25rem;
  
  --wdp-wheel-picker-transition-duration: 200ms;
  --wdp-wheel-picker-indicator-border-color: #e0e0e0;


  
}
  