:root {
  /* Wheel Picker Variables */
  --wdp-wheel-picker-selected-font-weight: 600;
  --wdp-wheel-picker-selected-font-size: 1.125rem;
  --wdp-wheel-picker-selected-line-height: 1.75rem;
  --wdp-wheel-picker-selected-color: #212121;
  
  --wdp-wheel-picker-unselected-color: #bdbdbd;
  --wdp-wheel-picker-unselected-font-size: 0.875rem;
  --wdp-wheel-picker-unselected-line-height: 1.25rem;
  
  --wdp-wheel-picker-transition-duration: 200ms;
  --wdp-wheel-picker-indicator-border-color: #e0e0e0;
}

.wd-wheel-picker-container {
  position: relative;
}

.wd-wheel-picker-scroll {
  overflow-y: scroll;
  height: 100%;
}

.wd-wheel-picker-scroll::-webkit-scrollbar {
  display: none;
}

.wd-wheel-picker-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
}
.wd-wheel-picker-item {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  scroll-snap-align: center;
  transition-property: all;
  transition-duration: var(--wdp-wheel-picker-transition-duration);
}

.wd-wheel-picker-item-selected {
  font-weight: var(--wdp-wheel-picker-selected-font-weight);
  font-size: var(--wdp-wheel-picker-selected-font-size);
  line-height: var(--wdp-wheel-picker-selected-line-height);
  color: var(--wdp-wheel-picker-selected-color);
}

.wd-wheel-picker-item-unselected {
  color: var(--wdp-wheel-picker-unselected-color);
  font-size: var(--wdp-wheel-picker-unselected-font-size);
  line-height: var(--wdp-wheel-picker-unselected-line-height);
}

.wd-wheel-picker-item-clickable {
  cursor: pointer;
}

.wd-wheel-picker-indicator {
  position: absolute;
  left: 0;
  right: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: inherit;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  border-color: var(--wdp-wheel-picker-indicator-border-color);
  pointer-events: none;
}